body{
    background-color: #00008B;
}

header{
    background-color: #FFFFFF ;
}

#logo{
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
}

h1{
    font-family:"Arial";
    color: #000000;
}

h2{
    font-family:"Arial";
    color: #000000
}

h3{
    font-family:"Arial";
    color: #000000
}

h4{
    font-family:"Arial";
    color: #000000
}
h5{
    font-family:"Arial";
    color: #000000
}
h6{
    font-family:"Arial";
    color: #000000
}
p{
    font-family:"Arial";
    color: #000000
}

main{
    background: #FFFFFF;
    border-radius: 10px;
}

aside{
    background-color: #FFFFFF;
    border-radius: 10px;
}

footer{
    background-color: #DB92B8;
    border-radius: 10px;
}

nav li{
    border: 2px solid white;
    background-color:#ece75f;
    list-style-type: none;
}

nav li a{
color: #000000;
text-align: center;
text-decoration: none;
}

nav li:hover{
    background-color: #DB92B8;
}

.active{
    background-color: aquamarine;
}

table{
    font-family:"Arial";
    border-collapse: collapse;
}

table td{
    border: 2px solid #f0f0f0;
}

table th{
    border: 2px solid #f0f0f0;
}

Table tr:nth-child(even){
    background-color: #f2f2f2;
}

Table tr:hover{
    background-color: #f0f0f0;
}

Table th{
    background-color: #00008B;
    color: white;
}